@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Herschel (Brad) Herring - Designer</h3>

<address>
    <br />
    Windermere, FL 34768<br />
    <abbr title="Phone">P:</abbr>
    941.465.0642
</address>

<address>
    <strong>Support:</strong> <a href="mailto:winddor101@gmail.com">winddor101@gmail.com</a><br />
</address>
